<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://blog.wabzsy.com/" target="_blank" title="博客首页">博客首页</a></li>
      <li><a href="https://github.com/wabzsy/" target="_blank" title="我的GitHub">我的GitHub</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="" target="_blank" title=""></a></li>
    </ul>
</div>
